[Unit]
Description=IRCON Discord Bot
After=syslog.target network.target

[Service]
User=discord
Group=discord
WorkingDirectory=/
Type=simple
ExecStart=npm start
RestartSec=90
TimeoutStopSec=30
Restart=always

[Install]
WantedBy=multi-user.target

